# dependencies
node_modules

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local

# build outputs
.next
dist
build
coverage

# editor
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# misc
*.pem
*.log
live-tunnel.log
live-tunnel.err
frontend-live.log
frontend-live.err
backend-live.log
backend-live.err
backend-run.log
tmp
temp
